@model Web1.Models.StoreIndexModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Product In Store </h2>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product.IdProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product.NameProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product.CodeProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product.QualityProduct)
        </th>
        <th></th>
    </tr>

    @foreach (var item in @Model.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodeProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QualityProduct)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })|
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
</table>
