@model Web1.Models.ProductIndexModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<h2>DetailProduct</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(@Model => Model.product.NameProduct)
        </dt>
        <dd>
            @Html.DisplayFor(@Model => Model.product.NameProduct)
        </dd>
        <dt>
            @Html.DisplayNameFor(@Model => Model.product.CodeProduct)
        </dt>
        <dd>
            @Html.DisplayFor(@Model => Model.product.CodeProduct)
        </dd>
        <dt>
            @Html.DisplayNameFor(@Model => Model.product.QualityProduct)
        </dt>
        <dd>
            @Html.DisplayFor(@Model => Model.product.QualityProduct)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "UpdateProduct", new { idProduct = @Model.product.IdProduct, })|
    @Html.ActionLink("Back to List", "GetAllProduct")
</p>
